{{ ansible_hostname }}

This was generated on {{ ansible_date_time.date }}.
Access to this server is restricted please logout if not  using for legitemate use.

Please contact {{ system_manager }} for any issue.
