[BaseOS]
name=Local BaseOS
#baseurl=file:///{{ mount_point }}/BaseOS
baseurl=http://192.168.56.106/repo/BaseOS
enabled=1
gpgcheck=0


[AppStream]
name=Local AppStream
#baseurl=file:///{{ mount_point }}/AppStream
baseurl=http://192.168.56.106/repo/AppStream
enabled=1
gpgcheck=0
